<h1>Hey</h1>

<form action="/output">
  <div class="form-group">
    <label for="amount_of_cents">Add amount of cents</label>
    <input id="a" name="user_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit me</button>
</form>
